# Ignore build directory
build/
# Ignore catkin files
devel/
.catkin_workspace
# Ignore install files
install/
# Ignore backup files
*~
# Ignore log directories
log/
# Ignore Visual Code files
.vscode/
